@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/*///////////////////////////////////////////////////////////////////////////////////////////////
// LOS ELEMENTOS SE ENCUENTRAN ORDENADOS ALFABETICAMENTE SIN DISTINCION DE CLASE ETIQUETA O ID //
///////////////////////////////////////////////////////////////////////////////////////////////*/

.aclara {
    line-height: 0.5rem;
    font-size: smaller;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

#barra {
    position: sticky !important;
    top: 0% !important;
    z-index: 10 !important;
}

#barra ul {
    margin-right: 10%;
}

body {
    font-family: 'Roboto', sans-serif;
}

#boton {
    background-color: #8acf30;
    color: white !important;
    font-size: 1.1rem;
}

#codo {
    width: 30% !important;
}

.descuentos {
    
    display: inline-flex;
    width: 100%;
    border-radius: 0%;
    justify-content: center;
}

.descuentos > div {
    color: black !important;
    flex: 1;
    width: 175px;
    height: 175px;
    padding: 2%;
    box-sizing: border-box;
}
footer {
    margin-top: 1%;
    background-color: #315664;
    line-height: 2rem;
}

footer .nav-item {
    display: flex;
    align-items: center;
    width: 14%;
    margin-right: 0.1rem;
}

footer .nav-link {
    font-size: small;
    color: aliceblue !important;
    line-height: 1rem;
}

footer .nav-link:hover {
    color: gray !important;
}
    
#logo_codo {
    width: 30%;
}



#ticket {
    color: green !important;
}

#ticket:hover {
    color: rgb(214, 231, 30) !important;
}
